[mysqld]
default-storage-engine=MyISAM
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 1M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
character-set-server = utf8
collation-server = utf8_general_ci

# 添加 InnoDB 配置
innodb_force_recovery = 0
innodb_buffer_pool_size = 128M
innodb_log_file_size = 48M
innodb_file_per_table = 1

[client]
default-character-set = utf8

[mysql]
default-character-set = utf8